<% include partials/header %>

<h1>Welcome to the Landing Page</h1>

<p>
   this is the landing page for the amazing tutorial sample app get me better at programming
</p>

<a href="/events">View All Events</a>


<% include partials/footer %>
