
<% include partials/header %>
<h1>Create a New Event</h1>

<form action="/events" method="POST">
   <input type="text" class="form-control" name="name" placeholder="name" />
   <input type="text" class="form-control" name="image" placeholder="image" />
   <button class="btn btn-lg btn-default">Submit</button>
</form>


<% include partials/footer %>
